body{
    margin:40px auto;
    max-width:650px;
    line-height:1.2; 
    font-size:14px;
    background-color:#eeeeee;
    padding:10px;
    font-family:sans-serif;
}
h1,h2,h3{
    line-height:1.2
}

img {
    height: auto;
}

.photo {
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
}

.inline {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    gap: 20px;
}

.inline img {
    flex-shrink: 0;
}

.inline-desc {
    margin: 0;
}

table.compact {
    font-size: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

table.compact th {
    font-weight: bold;
    text-align: center;
}

table.compact td {
    font-weight: normal;
    text-align: center;
}
